<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
    <property name="hibernate.connection.username">c##Guillaume</property>
    <property name="hibernate.connection.password">Nath1963</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.ast.ASTQueryTranslatorFactory</property>
    <mapping class="entity.Etudiant"/>
    <mapping class="entity.Poste"/>
    <mapping class="entity.Entreprise"/>
    <mapping class="entity.Stage"/>
    <mapping class="entity.Utilisateur"/>
    <mapping class="entity.Superviseur"/>
  </session-factory>
</hibernate-configuration>
